1. How to import pandas and check the version?

In [1]:
import pandas as pd 
pd .__version__

'2.2.2'

In [2]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

s3=pd.Series(mydict)
s3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int32

In [25]:
# 3. How to convert the index of a series into a column of a dataframe?
#  Convert the series ser into a dataframe with its index as another column on the dataframe.

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df=pd.DataFrame(ser).reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [27]:
# 4. How to combine many series to form a dataframe?
# Combine ser1 and ser2 to form a dataframe
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df=pd.concat([ser1,ser2],axis=1)
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [31]:
# 5. How to assign name to the series’ index?
# Give a name to the series ser calling it ‘alphabets’.
# Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name= "alphabets"
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [39]:
# 6. How to get the items of series A not present in series B?
# From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [5]:
# 7. How to get the items not common to both series A and series B?
# Get all items of ser1 and ser2 not common to both.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u=pd.Series(np.union1d(ser1,ser2))
ser_i=pd.Series(np.intersect1d(ser1,ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [4]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
# Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser,q=[0,25,50,75,100])

array([ 1.18013363,  7.91024552, 11.27846504, 13.42514901, 20.81907201])

In [11]:
'''9. How to get frequency counts of unique items of a series?
Calculte the frequency counts of each unique value ser.'''

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

b    6
e    5
f    5
g    5
a    3
h    3
c    2
d    1
Name: count, dtype: int64

In [24]:
#10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top2=ser.value_counts().head(2)
replace_map={x:x if x in top2 else 'other' for x in ser.unique()}
ser_mod=ser.replace(replace_map)
ser_mod

0     other
1         1
2         1
3         2
4         2
5         2
6         1
7         1
8     other
9         2
10        2
11    other
dtype: object

In [3]:
'''11. How to bin a numeric series to 10 groups of equal size?
Bin the series ser into 10 equal deciles and replace the values with the bin name.'''



ser = pd.Series(np.random.random(20))
ser=pd.Series(np.linspace(1,20,10))
for i,val in enumerate(ser):
    ser.index=i
    val=i+1+'th'
print(ser)

TypeError: Index(...) must be called with a collection of some kind, 0 was passed

In [8]:
'''12. How to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns
'''
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  5  2  9  9  3
1  8  3  4  6  6
2  8  5  2  8  7
3  5  3  2  7  2
4  7  4  3  2  4
5  8  7  1  3  5
6  8  4  5  7  1

In [19]:
'''13. How to find the positions of numbers that are multiples of 3 from a series?
Difficulty Level: L2

Find the positions of numbers that are multiples of 3 from ser.'''

ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
'''ans=[i if ser[i]%3==0 else 0 for i in range(len(ser))]
ans 
SECOND METHOD'''
np.where(ser%3==0)[0]

0    8
1    8
2    4
3    6
4    9
5    3
6    6
dtype: int32

array([3, 4, 5, 6], dtype=int64)

In [23]:
'''14. How to extract items at given positions from a series
Difficulty Level: L1
From ser, extract the items at positions in list pos'''

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
for i in pos:
 print(ser[i])

a
e
i
o
u

In [39]:
'''15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe)'''

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
print(ser1)
print(ser2)
ser_v=pd.concat([ser1,ser2])
ser_v
ser_h=pd.concat([ser1,ser2],axis=1)
ser_h

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [55]:
'''16. How to get the positions of items of series A in another series B?
Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.'''



ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [57]:
'''17. How to compute the mean squared error on a truth and predicted series?
Difficulty Level: L2
Compute the mean squared error of truth and pred series.'''


truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred**2))

-29.727624749046605

In [5]:
'''18. How to convert the first character of each element in a series to uppercase?
Difficulty Level: L2
Change the first character of each word to upper case in each word of ser'''

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x:x[0].upper()+x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [7]:
'''19. How to calculate the number of characters in each word in a series?'''

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x:len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [25]:
'''20. How to compute difference of differences between consequtive numbers of a series?'''
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
def diff(n):
 ans =[float(n[i+1]-n[i]) for i in range(len(n)-1)]
 return ans
a=diff(ser)
print(a)
b=diff(a)
print(b)
'''SECOND METHOD'''
ser.diff().diff()

[2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [28]:
'''21. How to convert a series of date-strings to a timeseries?'''
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
timeseries = pd.to_datetime(ser,format='mixed')

print(timeseries)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [41]:
'''23. How to convert year-month string to dates corresponding to the 4th day of the month?
Difficiulty Level: L2
Change ser to dates that start with 4th of the respective months.'''

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
dates = pd.to_datetime(ser + ' 04')
dates

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [62]:
'''24. How to filter words that contain atleast 2 vowels from a series?
Difficiulty Level: L3
From ser, extract words that contain atleast 2 vowels.'''

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
v='aeoiuAEIOU'
ans=[]
for char in ser:
    c=0
    for i in char :
        if i in v:
            c+=1
            if c>=2:
                ans.append(char)
                break
print(ans)

['Apple', 'Orange', 'Money']

In [15]:
'''25. How to filter valid emails from a series?
Difficiulty Level: L3
Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.'''


emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
email=emails[emails.str.contains(pattern,regex=True)]
email

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [10]:
'''26. How to get the mean of a series grouped by another series?
Difficiulty Level: L2
Compute the mean of weights of each fruit.'''


fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
df=pd.DataFrame()
df['fruit']=fruit
df['weights']=weights
df.groupby('fruit')['weights'].mean()

fruit
apple     7.0
banana    4.0
carrot    8.5
Name: weights, dtype: float64

In [11]:
'''27. How to compute the euclidean distance between two series?
Difficiulty Level: L2
Compute the euclidean distance between series (points) p and q, without using a packaged formula.'''

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
np.sqrt(np.sum((p-q)**2))

18.16590212458495

In [25]:
'''28. How to find all the local maxima (or peaks) in a numeric series?
Difficiulty Level: L3
Get the positions of peaks (values surrounded by smaller values on both sides) in ser.'''


ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ans=[]
for i in range(len(ser)-2):
   if ser[i]<ser[i+1]>ser[i+2]:
       ans.append(i+1)
print(ans)

[1, 5, 7]

In [63]:
'''29. How to replace missing spaces in a string with the least frequent character?
Replace the spaces in my_str with the least frequent character.'''
my_str = 'dbc deb abed gade'
ser=pd.Series(list(my_str))
rep_val=ser.value_counts().index[-1]
"".join(ser.replace(' ',rep_val))

'dbcgdebgabedggade'

In [17]:
'''33. How to import only every nth row from a csv file to create a dataframe?
Difficiulty Level: L2

Import every 50th row of BostonHousing dataset as a dataframe.'''
df=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
rows=[]
for chunk in df:
    rows.append(chunk.iloc[0])
df2=pd.DataFrame(rows) 
df2.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0.0,0.520,6.727,79.9,2.7778,5.0,384.0,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0.0,0.871,6.122,97.3,1.6180,5.0,403.0,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0.0,0.403,7.135,13.9,7.6534,3.0,402.0,17.0,384.30,4.45,32.9

In [22]:
'''34. How to change column values when importing csv to a dataframe?
Difficulty Level: L2
Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.'''
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')


df['medv']=np.where(df['medv']<25,'Low', 'High')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

In [27]:
'''36. How to import only specified columns from a csv file?
Difficulty Level: L1

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.'''
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',usecols=['crim','medv'])
df.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [46]:
'''37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
Difficulty Level: L2

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.'''


df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
'''number of rows, columns'''
print(df.shape)
''' datatype'''
print(type(df))
'''summary statistics of each column'''
print('//////////////////////////////////////////////')
print('summary statistics of each column')
print(df.describe())
'''how many columns under each dtype'''
print('///////////////////////////////////////////////')
print('columns under each dtype')
'''print(df.get_dtype_counts())'''
print(df.dtypes.value_counts())

# numpy array 
print('\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\')
print('numpy array')
print(df.values)

# list
print('\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\')
print('list')
df_list = df.values.tolist()
print(df_list)

(93, 27)
<class 'pandas.core.frame.DataFrame'>
//////////////////////////////////////////////
summary statistics of each column
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000
///////////////////////////////////////////////
columns under each dtype
float64    18
object      9
Name: count, dtype: int64
\\\\\\\\\\\\\\\\\\\\\\\\\\\
numpy array
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]
\\\\\\\\\\\\\\\\\\\\\\\\\\\\
list

In [53]:
'''38. How to extract the row and column number of a particular cell with given criterion?
Difficulty Level: L1

Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?'''

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.shape

(93, 27)

In [54]:
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [65]:
max_price_idx=df['Price'].idxmax()

car_info=df.loc[max_price_idx,['Manufacturer','Model','Type']]

price_value=df.loc[max_price_idx,'Price']

price_value

price_col_index=df.columns.get_loc('Price')

price_col_index

print("Manufacturer:", car_info['Manufacturer'])
print("Model:", car_info['Model'])
print("Type:", car_info['Type'])
print("सबसे अधिक Price:", price_value)
print("Row Number:", max_price_idx)
print("Column Number (Price):", price_col_index)

Manufacturer: Mercedes-Benz
Model: 300E
Type: Midsize
सबसे अधिक Price: 61.9
Row Number: 58
Column Number (Price): 4

In [4]:
'''39. How to rename a specific columns in a dataframe?
Difficulty Level: L2

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.'''
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.columns=df.columns.map(lambda x:x.replace('.','_'))
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [9]:
'''40. How to check if a dataframe has any missing values?
Difficulty Level: L1

Check if df has any missing values.
'''
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
'''df.isnull().sum()'''
df.isnull().values.any()

True

In [14]:
'''41. How to count the number of missing values in each column?
Difficulty Level: L2

Count the number of missing values in each column of df. Which column has the maximum number of missing values?'''
df.isnull().sum().idxmax()

'AirBags'

In [25]:
'''42. How to replace missing values of multiple numeric columns with the mean?
Difficulty Level: L2
Replace missing values in Min.Price and Max.Price columns with their respective mean.'''

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df[['Max.Price','Max.Price']].isnull().sum())

df['Min.Price'].fillna(df['Min.Price'].mean(),inplace=True)
df['Max.Price'].fillna(df['Max.Price'].mean(),inplace=True)

df[['Max.Price','Max.Price']].isnull().sum()

Max.Price    5
Max.Price    5
dtype: int64

C:\Users\DELL\AppData\Local\Temp\ipykernel_19628\2836154653.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Min.Price'].fillna(df['Min.Price'].mean(),inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_19628\2836154653.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max.Price'].fillna(df['Max.Price'].mean(),inplace=True)

Max.Price    0
Max.Price    0
dtype: int64

In [32]:
'''45. How to change the order of columns of a dataframe?
Difficulty Level: L3

Actually 3 questions.

In df, interchange columns 'a' and 'c'.
Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.'''

Input

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

    e   b   c   d   a
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [37]:
'''1 In df, interchange columns 'a' and 'c'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[list('cbade')]

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [41]:
'''2 Create a generic function to interchange two columns, without hardcoding column names.'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
col_name=df.columns.to_list()
col_name[0],col_name[-1]=col_name[-1],col_name[0]
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=col_name)
df

    e   b   c   d   a
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [4]:
'''3 Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df=df[sorted(df.columns,reverse=True)]
df

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [11]:
'''46. How to set the number of rows and columns displayed in the output?
Difficulty Level: L2
Change the pamdas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.'''

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

In [13]:
'''47. How to format or suppress scientific notations in a pandas dataframe?
Difficulty Level: L2
Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.'''

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df.round(4)

   random
0  0.1422
1  0.0015
2  0.7531
3  0.0001

In [9]:
'''49. How to filter every nth row in a dataframe?
Difficulty Level: L1
From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).'''
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.loc[::20,['Manufacturer','Model','Type']]

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [13]:
''''50. How to create a primary key index by combining relevant columns?
Difficulty Level: L2
In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.'''



df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
df[['Manufacturer', 'Model','Type']]=df[['Manufacturer', 'Model','Type']].fillna('missing')
df.index = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']

  Manufacturer    Model     Type  Min.Price  Max.Price
0        Acura  Integra    Small       12.9       18.8
1      missing   Legend  Midsize       29.2       38.7
2         Audi       90  Compact       25.9       32.3
3         Audi      100  Midsize        NaN       44.6
4          BMW     535i  Midsize        NaN        NaN