1. How to import pandas and check the version?

In [1]:
import pandas as pd 
pd .__version__

'2.2.2'

In [2]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

s3=pd.Series(mydict)
s3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int32

In [25]:
# 3. How to convert the index of a series into a column of a dataframe?
#  Convert the series ser into a dataframe with its index as another column on the dataframe.

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df=pd.DataFrame(ser).reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [27]:
# 4. How to combine many series to form a dataframe?
# Combine ser1 and ser2 to form a dataframe
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df=pd.concat([ser1,ser2],axis=1)
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [31]:
# 5. How to assign name to the series’ index?
# Give a name to the series ser calling it ‘alphabets’.
# Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name= "alphabets"
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [39]:
# 6. How to get the items of series A not present in series B?
# From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [5]:
# 7. How to get the items not common to both series A and series B?
# Get all items of ser1 and ser2 not common to both.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u=pd.Series(np.union1d(ser1,ser2))
ser_i=pd.Series(np.intersect1d(ser1,ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [4]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
# Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser,q=[0,25,50,75,100])

array([ 1.18013363,  7.91024552, 11.27846504, 13.42514901, 20.81907201])

In [11]:
'''9. How to get frequency counts of unique items of a series?
Calculte the frequency counts of each unique value ser.'''

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

b    6
e    5
f    5
g    5
a    3
h    3
c    2
d    1
Name: count, dtype: int64

In [24]:
#10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top2=ser.value_counts().head(2)
replace_map={x:x if x in top2 else 'other' for x in ser.unique()}
ser_mod=ser.replace(replace_map)
ser_mod

0     other
1         1
2         1
3         2
4         2
5         2
6         1
7         1
8     other
9         2
10        2
11    other
dtype: object

In [19]:
'''11. How to bin a numeric series to 10 groups of equal size?
Bin the series ser into 10 equal deciles and replace the values with the bin name.'''



ser = pd.Series(np.random.random(20))
ser=pd.Series(np.linspace(1,20,10))
ser.name='bin'
ser

0     1.000000
1     3.111111
2     5.222222
3     7.333333
4     9.444444
5    11.555556
6    13.666667
7    15.777778
8    17.888889
9    20.000000
Name: bin, dtype: float64

In [8]:
'''12. How to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns
'''
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  5  2  9  9  3
1  8  3  4  6  6
2  8  5  2  8  7
3  5  3  2  7  2
4  7  4  3  2  4
5  8  7  1  3  5
6  8  4  5  7  1

In [19]:
'''13. How to find the positions of numbers that are multiples of 3 from a series?
Difficulty Level: L2

Find the positions of numbers that are multiples of 3 from ser.'''

ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
'''ans=[i if ser[i]%3==0 else 0 for i in range(len(ser))]
ans 
SECOND METHOD'''
np.where(ser%3==0)[0]

0    8
1    8
2    4
3    6
4    9
5    3
6    6
dtype: int32

array([3, 4, 5, 6], dtype=int64)

In [23]:
'''14. How to extract items at given positions from a series
Difficulty Level: L1
From ser, extract the items at positions in list pos'''

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
for i in pos:
 print(ser[i])

a
e
i
o
u

In [39]:
'''15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe)'''

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
print(ser1)
print(ser2)
ser_v=pd.concat([ser1,ser2])
ser_v
ser_h=pd.concat([ser1,ser2],axis=1)
ser_h

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [55]:
'''16. How to get the positions of items of series A in another series B?
Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.'''



ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [57]:
'''17. How to compute the mean squared error on a truth and predicted series?
Difficulty Level: L2
Compute the mean squared error of truth and pred series.'''


truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred**2))

-29.727624749046605

In [5]:
'''18. How to convert the first character of each element in a series to uppercase?
Difficulty Level: L2
Change the first character of each word to upper case in each word of ser'''

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x:x[0].upper()+x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [7]:
'''19. How to calculate the number of characters in each word in a series?'''

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x:len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [25]:
'''20. How to compute difference of differences between consequtive numbers of a series?'''
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
def diff(n):
 ans =[float(n[i+1]-n[i]) for i in range(len(n)-1)]
 return ans
a=diff(ser)
print(a)
b=diff(a)
print(b)
'''SECOND METHOD'''
ser.diff().diff()

[2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [28]:
'''21. How to convert a series of date-strings to a timeseries?'''
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
timeseries = pd.to_datetime(ser,format='mixed')

print(timeseries)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [41]:
'''23. How to convert year-month string to dates corresponding to the 4th day of the month?
Difficiulty Level: L2
Change ser to dates that start with 4th of the respective months.'''

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
dates = pd.to_datetime(ser + ' 04')
dates

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [62]:
'''24. How to filter words that contain atleast 2 vowels from a series?
Difficiulty Level: L3
From ser, extract words that contain atleast 2 vowels.'''

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
v='aeoiuAEIOU'
ans=[]
for char in ser:
    c=0
    for i in char :
        if i in v:
            c+=1
            if c>=2:
                ans.append(char)
                break
print(ans)

['Apple', 'Orange', 'Money']

In [63]:
'''25. How to filter valid emails from a series?
Difficiulty Level: L3
Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.'''


emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
email=emails[emails.str.contains(pattern,regex=True)]
email

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object